<!doctype html>
<!-- http://getbootstrap.com/docs/4.1/getting-started/introduction/#starter-template -->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title> </title>

    <!-- Custom styles for this template -->
    <link href="/static/css/login.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" method="post">
      <a href="/"><img class="mb-4" src="/static/img/icheck.png" alt="" width="72" height="72"></a>
      <h1 class="h3 mb-3 font-weight-normal">Login HERE!</h1>
      <br>
      
      <a class="nav-link btn btn-outline-warning my-2 my-sm-0" href="/account/login">Teacher</a>
      <a class="nav-link btn btn-outline-warning my-2 my-sm-0" href="/account/login">Parent</a>
      
      <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
  </body>
</html>